body{
  height: 100%;
  width: 100%;
  background-color: #e4e2e2;
  background-image: url(./images/web_bac.png);
  background-size: cover;
  padding-bottom: 275px;
}


.container{
  background: #373131;
  height: 559px;
  width: 75%;
  margin: 55px auto 95px auto;
  border-radius: 18px 18px 0px 0px;
}

.navbar_container_div{
  height: 50px;
  width: 100%;
}

.navbar_container{
  height: 100%;
  width: 100%;
  background-color: #373131;
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 7px;
  padding-bottom: 0px;
  box-sizing: border-box;
  border-radius: 18px 18px 0px 0px;
}

.navbar{
  height: 100%;
  width: 363px;
  background-color: #373131;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav_btn{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}

.navbar :hover{
  background-color: #ff3131;

}

.social_div{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: #373131;
  padding: 11px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.social{
  height: 75%;
  width: 15%;
  background-color: #373131;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icons{
  height: 35px;
  transition: 0.6s ease-in-out;
}

.social_icons:hover{
  background-color: #ff3131;
  border-radius: 50%;
}

.background_image{
  width: 100%;
  height: 100%; 
  background-size: cover;
}

.upper_area{
  height: 60px;
  width: 100%;
  background-color: #373131;
  display: flex;
  justify-content: center;
  border-radius: 18px 18px 0px 0px;
}

.search_area_div{
  background-color: #373131;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 9px 9px 3px 9px;
  border-radius: 18px;

}

.search_area {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar_wrapper {
  position: relative;
  width: 100%;
  max-width: 100%; 
}

.search_bar {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 17px;
  font-size: 18px; 
  text-align: center;
  font-family: monospace;
  padding-right: 45px; 
  box-sizing: border-box;
}

.search_button {
  position: absolute;
  top: 50%;
  right: 7px; 
  transform: translateY(-50%);
  height: 35px; 
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: #bdbdbd;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.search_button:hover{
  height: 40px;
  width: 40px;
}

@media (max-width: 768px) {

  .body{
    height: 768px;
    width: 100%;
  }

  .container{
    background: #373131;
    height: 559px;
    width: 100%;
    margin: 0px auto;
    border-radius: 18px 18px 0px 0px;
  }

  .search_bar {
    height: 40px;
    font-size: 16px; 
    padding-right: 40px;
  }

  .search_button {
    height: 30px; 
    width: 30px; 
    font-size: 16px; 
    right: 5px;
  }
}
.content_area{
  width: 100%;
  height: 100%;
  background-color: #373131;
  display: flex;
  gap: 8px;
}

.main_content_area{
  width: 70%;
  height: 550px;
  background: #373131;
  border-radius: 18px;
  margin-left: 9px;
}

.main_content{
  width: 100%;
  height: 100%;
}

.main_content_divider_1{
  height: 25%;
  width: 100%;
  background-color: #373131;
  display: flex;
  gap: 8px;
}

.box_1 {
  height: 100%;
  width: 50%;
  border-radius: 18px 18px 0px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-family: monospace;
}

.text-item {
  margin: 0;
}

.small {
  font-size: 16px;
  font-weight: bold;
}

.large {
  font-size: 20px;
  font-weight: bold;
}

.main_content_divider_2{
  height: 25%;
  width: 100%;
  background-color: #373131;
  display: flex;
  gap: 8px;
}

.box_2{
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
}

.main_content_divider_3{
  height: 25%;
  width: 100%;
  background-color: #373131;
  display: flex;
  gap: 8px;
}

.box_3{
  height: 100%;
  width: 50%;
  border-radius: 0px 0px 18px 18px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;

}

.main_content_divider_4{
  height: 23.5%;
  width: 100%;
  background-color: #373131;
  display: flex;
  gap: 9px;
  margin-top: 9px;
}

.box_4{
  height: 100%;
  width: 100%;
  border-radius:  18px 18px 18px 18px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
}

.secondary_content_area{
  width: 30%;
  height: 550px;
  background-color: #373131;
  margin-right: 8px;
  border-radius: 18px;
}

.add_info_area_1{
  background-color: #373131;;
  width: 100%;
  height: 221px;
  border-radius: 18px;
}

.add_info_area_2{
  margin-top: 9px;
  background-color: #ff3131;
  width: 100%;
  height: 320px;
  border-radius: 18px;
  
}

.image_display_area {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  transition: filter 0.4s ease-in-out;
}

.image_display_area:hover{
  -webkit-filter: invert(1);
  filter: invert(1);
}

.description_h{
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;

}

.description_b_container{
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.description_b{
  height: 75%;
  width: 90%;
  display: flex;
  justify-content: center;
  font-family: monospace;
  text-align: center;
}

.note{
  font-family: monospace;
  height: 85px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.note_text_header{
  background-color: #ff3131;
}

.note_text_last{
  background-color: #ff3131;
}

.warning{
  height: 35px;
  font-weight: bold;
  width: 100%;
  background-color: #373131;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff3131;
}

.footer{
  background-color: #373131;
  height: 30px;
  width: 100%;
  border-radius: 0px 0px 18px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
  font-family: monospace;
  font-size: 14px;
  color: white;
}
